---
import { CloudUploadIcon } from "@heroicons/react/outline/esm";
import { Bot } from "../../types";
import GenericLayout from "./GenericLayout.astro";
import WorkspaceLayout from "./WorkspaceLayout.astro";

// remove empty values from array
const removeEmpty = (arr): any[] => arr.filter((item) => item);

const { bot, showSave } = Astro.props as { bot: Bot; showSave: boolean };

const page = new URL(Astro.url.pathname, Astro.site);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const workspaceId = Astro.params.id || "";

const tabs = [
  {
    name: "General",
    href: `/workspaces/${workspaceId}/bot`,
    selected: page.pathname === `/workspaces/${workspaceId}/bot`,
  },
  {
    name: "Modules",
    href: `/workspaces/${workspaceId}/bot/modules`,
    selected: page.pathname === `/workspaces/${workspaceId}/bot/modules`,
  },
  {
    name: "Permissions",
    href: `/workspaces/${workspaceId}/bot/permissions`,
    selected: page.pathname === `/workspaces/${workspaceId}/bot/permissions`,
  },
  {
    name: "Custom Commands",
    href: `/workspaces/${workspaceId}/bot/commands`,
    selected: page.pathname === `/workspaces/${workspaceId}/bot/commands`,
    disabled: true,
    tooltip: "Soon™",
  },
  {
    name: "Settings",
    href: `/workspaces/${workspaceId}/bot/settings`,
    selected: page.pathname === `/workspaces/${workspaceId}/bot/settings`,
  },
];
---

<GenericLayout>
  <WorkspaceLayout sidebar={{ showLogo: false }}>
    <form
      class="w-full space-y-10"
      action={`${
        import.meta.env.PUBLIC_API_ENDPOINT
      }/api/v1/workspaces/${workspaceId}/bot`}
      method="POST"
    >
      <input
        hidden
        class="hidden"
        type="hidden"
        name="redirect"
        value={canonicalURL.toString()}
      />
      <div class="flex justify-between w-full">
        <div>
          <h1 class="flex w-full gap-2 text-3xl font-bold">Discord Bot</h1><p
            class="text-lg font-semibold text-gray-800 dark:text-gray-300"
          >
            Configure your Discord Bot here.
          </p>
        </div>
        <div class="flex items-center h-full">
          {showSave && (
            <button
              type="submit"
              class="flex px-3 py-2 font-bold rounded-md gap-x-2 bg-astral"
            >
              <CloudUploadIcon className="w-6 h-6" />
              Save Changes
            </button>
          )}
        </div>
      </div>
      <div
        class="flex justify-center w-full py-2 align-middle rounded-lg bg-gray-50 dark:bg-black-300"
      >
        <div class="block">
          <nav class="flex md:space-x-4" aria-label="Tabs">
            {tabs.map((tab) => (
              <a
                href={!tab.disabled ? tab.href : undefined}
                aria-disabled={tab.disabled}
                data-turbolinks={tab.disabled ? "false" : "true"}
                class={`px-3 py-2 text-sm font-medium transition-colors duration-100 rounded-md ${
                  tab.selected ? "bg-gray-100 text-gray-700" : "text-white"
                } ${
                  tab.disabled
                    ? "opacity-50 cursor-not-allowed has-tooltip"
                    : ""
                }`}
                aria-current="page"
              >
                {tab.name}
                <span class="p-1 -mt-12 -ml-12 text-sm text-white transition duration-300 rounded bg-black-400 opacity-90 tooltip">
                  {tab.tooltip}
                </span>
              </a>
            ))}
          </nav>
        </div>
      </div>

      <slot></slot>
    </form>
  </WorkspaceLayout>
</GenericLayout>
