---
import { Workspace } from "../../types";
import { MenuIcon, CogIcon, LogoutIcon, ViewGridIcon, UsersIcon, PuzzleIcon, LightningBoltIcon, AdjustmentsIcon } from '@heroicons/react/outline/esm/index.js'
import { Actions, GetAllWorkspaces, GetUser, HasPermission } from "../../utils/user";
import WorkspaceDropdownNoJs from './WorkspaceDropdown.astro'
import WorkspaceDropdown from "./React/WorkspaceDropdown";
import { GetSelfWorkspaceMember } from "../../utils/workspace";

export type WorkspaceSidebarProps = {
    workspace: Workspace;
    showLogo: boolean;
}

const { showLogo } = Astro.props as WorkspaceSidebarProps;

const workspaces = await GetAllWorkspaces(import.meta.env, Astro);

const currentWorkspace = Astro.params.id as string || null;

const currentPage = Astro.canonicalURL.pathname

const userMember = currentWorkspace ? await GetSelfWorkspaceMember(currentWorkspace, import.meta.env, Astro) : null;
const user = await GetUser(import.meta.env, Astro);
---

<div>
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <div class="relative z-40 md:hidden target:block group" id="sidebar" role="dialog" aria-modal="true">
        <!--
        Off-canvas menu backdrop, show/hide based on off-canvas menu state.
  
        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
        <div
            class="fixed inset-0 hidden transition-opacity duration-300 ease-linear bg-opacity-75 opacity-0 dark:bg-black-200 group-target:opacity-100 group-target:block">
        </div>

        <div
            class="fixed inset-0 z-40 flex transition duration-300 ease-in-out transform -translate-x-full group-target:translate-x-0">
            <!--
          Off-canvas menu, show/hide based on off-canvas menu state.
  
          Entering: "transition ease-in-out duration-300 transform"
            From: "-translate-x-full"
            To: "translate-x-0"
          Leaving: "transition ease-in-out duration-300 transform"
            From: "translate-x-0"
            To: "-translate-x-full"
        -->
            <div
                class="relative flex flex-col flex-1 w-full max-w-xs duration-300 ease-in-out opacity-0 dark:bg-black group-target:opacity-100">
                <!--
            Close button, show/hide based on off-canvas menu state.
  
            Entering: "ease-in-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in-out duration-300"
              From: "opacity-100"
              To: "opacity-0"
          -->
                <div class="absolute top-0 right-0 pt-2 -mr-12">
                    <a href="#" data-turbolinks="false"
                        class="flex items-center justify-center w-10 h-10 ml-1 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                        <span class="sr-only">Close sidebar</span>
                        <!-- Heroicon name: outline/x -->
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </a>
                </div>

                <div class="flex-1 h-0 pt-5 pb-4 overflow-y-auto">
                    <div class="flex items-center flex-shrink-0 px-4">
                        {showLogo ? (
                        <a class="flex items-center justify-center" href="/">
                            <img class="w-3/4" src="/img/LogotypeDark.png" alt="Astral Logotype">
                        </a>
                        ) : (
                        <WorkspaceDropdown workspaces={workspaces} client:only />
                        <noscript>
                            <WorkspaceDropdownNoJs workspaces={workspaces} />
                        </noscript>
                        )}
                    </div>
                    <nav class="px-2 mt-5 space-y-1">
                        {!showLogo && userMember && (
                        <a href={`/workspaces/${currentWorkspace}`} class:list={[`dark:text-white text-black
                            dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4
                            text-sm font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                            currentPage===`/workspaces/${currentWorkspace}/` } ]}>
                            <ViewGridIcon className="w-6 h-6 mr-3" />
                            Dashboard
                        </a>

                        <a href={`/workspaces/${currentWorkspace}/bot`} class:list={[`dark:text-white text-black
                            dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4
                            text-sm font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                            (currentPage===`/workspaces/${currentWorkspace}/bot/` || currentPage.includes('bot')) } ]}>
                            <LightningBoltIcon className="w-6 h-6 mr-3" />
                            Discord Bot
                        </a>

                        <a href={`/workspaces/${currentWorkspace}/team`} class:list={[`dark:text-white text-black
                            dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4
                            text-sm font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                            currentPage===`/workspaces/${currentWorkspace}/team/` } ]}>
                            <UsersIcon className="w-6 h-6 mr-3" />
                            Team
                        </a>

                        <a href={`/workspaces/${currentWorkspace}/integrations`} class:list={[`dark:text-white
                            text-black dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5
                            space-x-4 text-sm font-bold rounded-lg transition-colors duration-100`,
                            { 'dark:bg-black-200' : currentPage===`/workspaces/${currentWorkspace}/integrations/` } ]}>
                            <PuzzleIcon className="w-6 h-6 mr-3" />
                            Integrations
                        </a>

                        <>
                            {HasPermission(userMember, Actions.UPDATE_WORKSPACE) && (
                            <a href={`/workspaces/${currentWorkspace}/settings`} class:list={[`dark:text-white
                                text-black dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5
                                space-x-4 text-sm font-bold rounded-lg transition-colors duration-100`,
                                { 'dark:bg-black-200' : currentPage===`/workspaces/${currentWorkspace}/settings/` } ]}>
                                <AdjustmentsIcon className="w-6 h-6 mr-3" />
                                Settings
                            </a>
                            )}
                        </>
                        )}
                    </nav>
                </div>
                <div class="flex-shrink-0 p-4 space-y-4">
                    <a href="/settings"
                        class="dark:text-white text-black dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm font-bold rounded-lg transition-colors duration-100">
                        <CogIcon className="w-5 h-5 mr-2" />
                        Account Settings
                    </a>
                    <form action={`${import.meta.env.PUBLIC_API_ENDPOINT}/api/v1/auth/logout/discord`} class="w-full">
                        <input hidden readonly name="redirect" value={Astro.site} />
                        <button type="submit"
                            class="dark:text-white text-black dark:hover:bg-black-200 w-full hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm font-bold rounded-lg transition-colors duration-100">
                            <LogoutIcon className="w-5 h-5 mr-2" />
                            Logout
                        </button>
                    </form>

                    <div class="grid grid-cols-5 align-middle">
                        <div class="col-span-1">
                            <img class="w-12 h-12 rounded-full" src={user.provider_avatar_url} />
                        </div>
                        <div class="grid items-center col-span-3 pl-4 align-middle">
                            <div class="text-sm font-bold text-black dark:text-white">{user.provider_data.username}
                            </div>
                            <div class="text-xs font-medium text-black dark:text-white">{user.provider_data.email}</div>
                        </div>
                        <div class="col-span-1">
                            <span
                                class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-astral-100 text-astral-800">
                                Beta 2
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex-shrink-0 w-14">
                <!-- Force sidebar to shrink to fit close icon -->
            </div>
        </div>
    </div>

    <!-- Static sidebar for desktop -->
    <div class="hidden md:flex md:flex-col md:fixed md:inset-y-0 md:w-80">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex flex-col flex-1 min-h-0 dark:bg-black dark:border-[#404040] border-r border-gray-200 md:w-80">
            <div class="flex flex-col flex-grow px-6 py-16 space-y-8 overflow-y-auto">
                {showLogo ? (
                <a class="flex items-center justify-center" href="/">
                    <img class="w-3/4" src="/img/LogotypeDark.png" alt="Astral Logotype">
                </a>
                ) : (
                <WorkspaceDropdown workspaces={workspaces} client:only />
                <noscript>
                    <WorkspaceDropdownNoJs workspaces={workspaces} />
                </noscript>
                )}
                <nav class="flex flex-col flex-1 px-2 mt-5 space-y-4">
                    {!showLogo && userMember && (
                    <a href={`/workspaces/${currentWorkspace}`} class:list={[`dark:text-white text-black
                        dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm
                        font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                        currentPage===`/workspaces/${currentWorkspace}/` } ]}>
                        <ViewGridIcon className="w-6 h-6 mr-3" />
                        Dashboard
                    </a>

                    <a href={`/workspaces/${currentWorkspace}/bot`} class:list={[`dark:text-white text-black
                        dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm
                        font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                        (currentPage===`/workspaces/${currentWorkspace}/bot/` || currentPage.includes('bot')) } ]}>
                        <LightningBoltIcon className="w-6 h-6 mr-3" />
                        Discord Bot
                    </a>

                    <a href={`/workspaces/${currentWorkspace}/team`} class:list={[`dark:text-white text-black
                        dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm
                        font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                        currentPage===`/workspaces/${currentWorkspace}/team/` } ]}>
                        <UsersIcon className="w-6 h-6 mr-3" />
                        Team
                    </a>

                    <a href={`/workspaces/${currentWorkspace}/integrations`} class:list={[`dark:text-white text-black
                        dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm
                        font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                        currentPage===`/workspaces/${currentWorkspace}/integrations/` } ]}>
                        <PuzzleIcon className="w-6 h-6 mr-3" />
                        Integrations
                    </a>

                    <>
                        {HasPermission(userMember, Actions.UPDATE_WORKSPACE) && (
                        <a href={`/workspaces/${currentWorkspace}/settings`} class:list={[`dark:text-white text-black
                            dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4
                            text-sm font-bold rounded-lg transition-colors duration-100`, { 'dark:bg-black-200' :
                            currentPage===`/workspaces/${currentWorkspace}/settings/` } ]}>
                            <AdjustmentsIcon className="w-6 h-6 mr-3" />
                            Settings
                        </a>
                        )}
                    </>
                    )}

                </nav>
                <div class="flex-shrink-0 px-2 space-y-4">
                    <a href="/settings"
                        class="dark:text-white text-black dark:hover:bg-black-200 hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm font-bold rounded-lg transition-colors duration-100">
                        <CogIcon className="w-5 h-5 mr-2" />
                        Account Settings
                    </a>
                    <form action={`${import.meta.env.PUBLIC_API_ENDPOINT}/api/v1/auth/logout/discord`} class="w-full">
                        <input hidden readonly name="redirect" value={Astro.site} />
                        <button type="submit"
                            class="dark:text-white text-black dark:hover:bg-black-200 w-full hover:bg-gray-300 group flex items-center px-4 py-2.5 space-x-4 text-sm font-bold rounded-lg transition-colors duration-100">
                            <LogoutIcon className="w-5 h-5 mr-2" />
                            Logout
                        </button>
                    </form>

                    <div class="grid grid-cols-5 align-middle">
                        <div class="col-span-1">
                            <img class="w-12 h-12 rounded-full" src={user.provider_avatar_url} />
                        </div>
                        <div class="grid items-center col-span-3 pl-4 align-middle">
                            <div class="text-sm font-bold text-black dark:text-white">{user.provider_data.username}
                            </div>
                            <div class="text-xs font-medium text-black dark:text-white">{user.provider_data.email}</div>
                        </div>
                    </div>

                    <span
                        class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-astral-100 text-astral-800 has-tooltip">
                        <span
                            class="p-1 mt-14 text-sm text-white transition duration-300 rounded bg-black-400 opacity-90 tooltip">
                            This is the second beta of Astral.
                        </span>
                        Beta 2
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-1 md:pl-80">
        <div class="sticky top-0 z-10 pt-1 pl-1 bg-gray-100 dark:bg-black-200 md:hidden sm:pl-3 sm:pt-3">
            <a href="#sidebar" data-turbolinks="false"
                class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-black-600 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/menu -->
                <MenuIcon className="w-6 h-6" />
            </a>
        </div>
        <main class="flex-1 min-h-screen dark:bg-black dark:text-white wrapper" id="swup">
            <div class="py-6">
                <div class="flex flex-wrap px-12 pt-16 mx-auto space-y-10 max-w-7xl lg:px-36 md:px-24">
                    <slot />
                </div>
            </div>
        </main>
    </div>
</div>